body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(167, 202, 245);
}

.weather-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
}

.celcius {
  flex: 1;
  text-align: center;
}

.content {
  flex: 1;
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.info-block {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.info-block-sun {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.info-block-name {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.gify {
  flex: 1;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .weather-container {
    flex-direction: column;
    gap: 60px;
  }
  .gify {
    display: none;
  }
  .info {
    margin-left: 15px;
    margin-right: 15px;
  }
  .info-block-name {
    justify-content: center;
  }
}
